<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Altical Crawler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/util.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/common.css">
</head>

<body>
    <header>
        <ul class="nav clearfix">
            <li><a href="/toutiao">TOUTIAO</a></li>
        </ul>
    </header>
    <!-- MAIN CONTENT HERE -->
    <main>
        <%- body %>
    </main>
</body>

</html>