<%- contentFor('body') %>
<div class="container">
    <div id="new_house">新房</div>
    <div id="er_house">二手房</div>
    <div id="data_container"></div>
</div>

<script>
    function renderLianjiaData() {
        $.ajax({
            url: "./lianjia/lianjia_new_details",
            type: "get",
            error: function (error) {
            },
            success: function (result) {
                console.log(result);
                resultItem = JSON.parse(result);
                $('#data_container').text(result);
            }
        });
    };
    function renderLianjiaErData() {
        $.ajax({
            url: "./lianjia/lianjia_er_details",
            type: "get",
            error: function (error) {
            },
            success: function (result) {
                console.log(result);
                resultItem = JSON.parse(result);
                $('#data_container').text(result);
            }
        });
    }
    $('#new_house').click(() => {
        renderLianjiaData();
    });
    $('#er_house').click(() => {
        renderLianjiaErData();
    });


</script>